package-lock.json
data
input/Class_Global.xpo
input/SysQuery.xpo
node_modules
server/jison_test/node_modules
server/logs
server/old
server/test
input/models/*
!input/models/PetStore
input/labels/*
log.txt
www/datamanagement/dataupgrade.mjs